/* markelov.vadim@gmail.com */
.column {
	display: inline-block;
}

.size1to3 {
	width: 30%;
	display: inline-block;
	vertical-align: top;
	margin-left: 2%;
}

.city {
	display: block;
	padding: 10px;
	margin: 3px;
}

.city:hover {
	background: #eee;
}

.city.selected {
	background: lightblue;
	color: black;
}

.details {
	margin-top: 1em;
	margin-left: 2%;
}